{% extends "layouts/main.html" %}

{% set pageName="Register for space travel service" %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Register for the</span>

    <h1 class="govuk-heading-xl">
      Space travel service
    </h1>

  </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    
    <p class="govuk-body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, ducimus accusamus saepe placeat sint numquam? Voluptate alias blanditiis omnis facere, porro iste perspiciatis natus cum veniam ullam enim itaque pariatur. 
    </p>

    <p class="govuk-body">
      Dignissimos, accusamus magni ex rerum ad quo blanditiis quidem, vitae cumque repudiandae itaque suscipit quod mollitia incidunt.
    </p> 

    <div class="govuk-inset-text govuk-!-margin-bottom-7">
      Facilis temporibus odit veritatis odio. Pariatur quia enim officiis accusamus sit.
    </div>
    
    <a href="/space-proto/select-a-destination.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="demos-brand-border-top">
      
      <h2 class="govuk-heading-s">
        Related content
      </h2>

      <p class="govuk-body-s">
        Natus repellat velit unde. Obcaecati corporis quo quis. Laboriosam reiciendis. Quis in ullam consequuntur. 
      </p> 

      <p class="govuk-body-s">
        Lorem ipsum dolor amet:
      </p>

      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="#">Amet consectetur adipisicing</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="#">Reiciendis id laudantium veritatis</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="#">Ducimus accusamus saepe placeat reiciendis id laudantium veritatis</a>
        </li>        
      </ul>

    </div>    

  </div>


</div>    

{% endblock %}
